<div class="order-action-form-container">
  <nz-card nzTitle="Order a published IC">
    <form nz-form [formGroup]="icOrderForm" (ngSubmit)="submitOrder()">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="6"> Type </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="type">
            <nz-option nzLabel="Buy" [nzValue]="1"></nz-option>
            <nz-option nzLabel="Sell" [nzValue]="2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col [nzGutter]="[8, 8]">
        <nz-form-label nzRequired [nzSpan]="6"> IC product </nz-form-label>
        <nz-form-control [nzSpan]="5" nzErrorTip="Please select IC">
          <nz-select formControlName="published_id" nzPlaceHolder="Select IC">
            <nz-option
              *ngFor="let option of publishedICList"
              [nzLabel]="_id"
              [nzValue]="option"
            ></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control
          className="text-center"
          nzErrorTip="Please specify the Quantity"
          [nzSpan]="4"
        >
          <nz-input-number
            class="input-quantity"
            formControlName="amount"
            [nzMin]="1"
            [nzMax]="10"
            [nzStep]="1"
            nzPlaceHolder="Quantity"
          ></nz-input-number>
        </nz-form-control>
        <nz-form-control [nzSpan]="5">
          <input nz-input placeholder="Price" [disabled]="true" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control class="text-right" [nzSpan]="20">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
